@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 940px;
    margin: auto;
}

.flex {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

/* Header and Footer */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header div {
    border-radius: 0px 0px 5px 5px;
}

.header .box-1, .header .box-2, .footer .box {
    background-color: #DDDDDD;
    height: 100px;
}

.header .box-1 {
    width: 300px;
}

.header .box-2 {
    width: 620px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .box {
    width: 940px;
    border-radius: 5px 5px 0px 0px;
}

/* Slideshow */

.container .body-container {
    display: flex;
    gap: 20px;
    position: relative;
    left: -590px;
    width: fit-content;
    overflow: hidden;
}

/* Images */

.slideshow-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slideshow-container .top-counter, .slideshow-container .flex .bottom-counter {
    height: 200px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.slideshow-container .top-counter {
    width: 1210px;
}

.slideshow-container .top-counter img, .slideshow-container .flex .bottom-counter img {
    height: 200px;
    width: auto;
    border-radius: 8px;
    position: relative;
}

.bottom-counter {
    position: relative;
    left: -100px;
}

/* Buttons */

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: end;
}

.buttons .arrow-left, .buttons .arrow-right {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
}

.buttons .arrow-left, .buttons .arrow-right {
    border-color: #DDDDDD;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10px 16px;
}

.buttons .arrow-left:hover, .buttons .arrow-right:hover {
    border-color: #134880;
}

.buttons .arrow-left {
    background-image: url('./assets/arrow-gray-left.png');
}

.buttons .arrow-right {
    background-image: url('./assets/arrow-gray-right.png');
}

.buttons .arrow-left:hover {
    background-image: url('./assets/arrow-blue-left.png');
}

.buttons .arrow-right:hover {
    background-image: url('./assets/arrow-blue-right.png');
}

.arrows img {
    width: 16px;
    height: auto;
}

/* Text */
.text, .text h1, .text p {
    font-family: 'Source Sans 3', sans-serif;
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    letter-spacing: -0.2px;
}

.text h1 {
    color: #134880;
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: -0.2px;
}

.text p {
    color: #484A4C;
    font-size: 18px;
    line-height: 26px;
}